@import "tailwindcss";

body {
	font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", sans-serif;
	background-color: #ffffff;
	color: #0f172a; /* Charcoal color */
}

/* Button Styling */
.btn {
	@apply px-4 py-2 rounded-md font-medium 
	       transition-all duration-200 cursor-pointer 
	       border;
}

/* Primary button */
.btn-primary {
	@apply bg-white text-gray-800 border-gray-300;
}

.btn-primary:hover {
	@apply bg-gray-100 shadow-sm;
}

/* Secondary button */
.btn-secondary {
	@apply bg-[#0f172a] text-white border-[#0f172a];
}

.btn-secondary:hover {
	@apply bg-[#1e293b] shadow-md; /* slate-800 */
}

/* Danger button */
.btn-danger {
	@apply bg-red-600 text-white border-red-700;
}

.btn-danger:hover {
	@apply bg-red-700 shadow-md;
}
